<h1>Update <%= @post.title %>!</h1>

<%= form_for [@category, @post] do |f| %>
  Title: <%= f.text_field :title %> <br>
  Body: <%= f.text_area :body %> <br>
  Category: <%= f.collection_select :category_id, @categories, :id, :name%>
  <%= f.submit %>
<% end %>
