

<h2><%= @user.email %></h2>

<h3>Here's your stuff:</h3>

<% @posts_and_categories.each do |post,category| %>
  Category: <%= category %> <br>
  Post: <%= post.title %> <br>
  Body: <%= post.body %>
<% end %>

<% @categories.each do |category| %>
  <h2><%= category.name %> </h2>
  <% category.posts.where(user_id: @user.id).each do |post| %>
      <h3>&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "#{post.title}", category_post_path(category, post) %></h3>
      &nbsp;&nbsp;&nbsp;&nbsp; <%= post.body %>
    <% end %>
<% end %>

